{% extends "layout.html" %}
{% block heading%}
<h4 class = "my-4">Add an Admin</h4>
{% endblock %}
{% block content %}

{% if form.errors.items() %}
    <div class="container alert alert-warning alert-dismissible fade show" role="alert">
        <ul class="list-unstyled">
            {% for field, errors in form.errors.items() %}
              <li>Under '{{ form[field].label }}'': {{ ', '.join(errors) }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="shadow-sm p-3 mb-5 bg-body rounded w-75">
    <form method="POST" action="" novalidate>
        {{ form.csrf_token }}
        {{ form.name.label (class="form-label") }}<span class="required">*</span><br>
        {{ form.name (class="form-control") }}<br>
        {{ form.email.label (class="form-label") }}<span class="required">*</span><br>
        {{ form.email (class="form-control") }}<br>
        {{ form.password.label (class="form-label") }}<span class="required">*</span><br>
        {{ form.password (class="form-control") }}<br>
        {{ form.confirm_password.label(class="form-label") }}<span class="required">*</span><br>
        {{ form.confirm_password (class="form-control") }}<br>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}

{% block admin_secondary %}
<div class="container">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col" class="w-20">Admin's name</th>
                <th scope="col" class="w-60">Email</th>
                <th scope="col" class="w-20"></th>
                </tr>
            </thead>
            {% for admin in admins %}
                <tr> 
                    <th scope="row">{{ admin.name }}</th>
                    <td>{{ admin.email }}</td>
                    <td><a href= "{{ url_for('admin.delete_admin', id=admin.id) }}" class="link-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}