{% extends "layout.html" %}
{% block heading %}
<h4 class = "my-4">Add Work History</h4>
{% endblock %}
{% block content %}

{% if form.errors.items() %}
    <div class="container alert alert-warning alert-dismissible fade show" role="alert">
        <ul class="list-unstyled">
            {% for field, errors in form.errors.items() %}
              <li>Under '{{ form[field].label }}'': {{ ', '.join(errors) }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="shadow-sm p-3 mb-5 bg-body rounded w-75">
    <form method="POST" action="" novalidate>
        {{ form.csrf_token }}
        {{ form.biog_id.label (class="form-label") }}<span class="required">*</span><br>
        {{ form.biog_id (class="form-control") }}<br>       
        {{ form.title.label (class="form-label") }}<span class="required">*</span><br>
        {{ form.title (class="form-control") }}<br>
        {{ form.company.label (class="form-label") }}<span class="required">*</span><br>
        {{ form.company (class="form-control") }}<br>
        {{ form.start.label (class="form-label") }}<span class="required">*</span><br>
        {{ form.start (class="form-control") }}<br>
        {{ form.end.label (class="form-label") }} <small>(Leave this empty if it's your current position)</small><br>
        {{ form.end (class="form-control")}}<br>
        {{ form.job_description.label (class="form-label") }}<span class="required">*</span><br>
        {{ form.job_description (class="form-control") }}<br><br>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}

{% block admin_secondary %}
<div class="container">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
        <table class="table table-hover align-left">
            <thead>
                <tr>
                <th scope="col" class="w-15">Name</th>
                <th scope="col" class="w-20">Job Title</th>
                <th scope="col" class="w-20">Company</th>
                <th scope="col" class="w-15">From</th>
                <th scope="col" class="w-15">Until</th>
                <th scope="col" class="w-15"></th>
                </tr>
            </thead>
            {% for work in works %}
            <tr> 
                <th scope ="row"> {{ work.biog.name }}</th>
                <td><a href="{{ url_for('admin.work_update', id=work.id) }}" class="link-secondary">{{ work.title }}</td>
                <td>{{ work.company }}</td>
                <td>{{ work.start.strftime('%B %Y') }}</td>
                <td>{% if work.end is not none %} 
                        {{ work.end.strftime('%B %Y') }}
                    {% else %}
                        Present Day 
                    {% endif %}</td>               
                <td><a href="{{ url_for('admin.work_delete', id=work.id) }}" class="link-danger">Delete</a></td> 
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}